/* import fonts */
@import "fonts.css";

/* Root Vars */
:root {
  --bg0:      #f9f9f9;
  --bg1:      #fefefe;
  --bg2:      #f7f2f7;
  --bg3:      #f7f2f7;
  --fg1:      #363636;
  --fg2:      #363636;
  --fg3:      #2c2c2c;
  --title1:   #f0f0f0;
  --title2:   #ba92a5;
  --link1:    #538083;
  --link2:    #63979b;
  --code:     #272822;
  --border:   #575757;
  --seltext:  #C7ECF7;
}

/* Main Things */

html {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg0);
}

body {
  max-width: 800px;
  width: 100vw;
  margin: 10vh auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 8vw;
  padding-right: 8vw;
  font-family: 'Crimson Pro', serif;
  font-size: 18px;
  line-height: 35px;
  background-color: var(--bg1);
  color: var(--fg1);
  border: 10px solid var(--border);
  -webkit-box-shadow: 20px 20px 0px -2px rgba(44,44,44,0.21);
  -moz-box-shadow: 20px 20px 0px -2px rgba(44,44,44,0.21);
  box-shadow: 20px 20px 0px -2px rgba(44,44,44,0.21);
}

/* Headers */

header {
  color: var(--title1);
  font-size: 20px;
}

h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  line-height: 1.3;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  margin-left: -10px;
  text-rendering: optimizeLegibility;
  background-color: var(--bg1);
  color: var(--title1);
  border: 2px solid var(--border);
  background-color: var(--border);
  -webkit-box-shadow: 10px 10px 0px -2px rgba(44,44,44,0.21);
  -moz-box-shadow: 10px 10px 0px -2px rgba(44,44,44,0.21);
  box-shadow: 10px 10px 0px -2px rgba(44,44,44,0.21);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  color: var(--fg2);
  line-height: 1.2;
  text-rendering: optimizeLegibility;
}

/* Post Title */

.postitle {
  color: var(--title1);
  text-decoration: none;
}

.postitle:hover {
  color: var(--title1);
  background-color: var(--fg1);
  text-decoration: none;
}

.post-title {
  margin-left: 200px;
  font-size: 20px;
}

/* h1 hover */

h1:hover {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  line-height: 1.3;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  margin-left: -10px;
  text-rendering: optimizeLegibility;
  background-color: var(--bg1);
  color: var(--title1);
  border: 2px solid var(--fg1);
  background-color: var(--fg1);
  -webkit-box-shadow: 10px 10px 0px -2px rgba(44,44,44,0.21);
  -moz-box-shadow: 10px 10px 0px -2px rgba(44,44,44,0.21);
  box-shadow: 10px 10px 0px -2px rgba(44,44,44,0.21);
}

/* Time Published */

time {
  display: block;
  color: var(--fg2);
  line-height: 2;
  margin-top: 1em;
  margin-bottom: -0.7em;
}

/* Website Title */

.title {
  width: 60%;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 30px;
  text-decoration: none;
  text-align: center;
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Crimson Pro', serif;
  font-size: 3em;
  color: var(--border);
  border: 6px solid var(--title2);
  background-color: #f5f5f5;
  -webkit-box-shadow: 10px 10px 0px -2px rgba(44,44,44,0.21);
  -moz-box-shadow: 10px 10px 0px -2px rgba(44,44,44,0.21);
  box-shadow: 10px 10px 0px -2px rgba(44,44,44,0.21);
}

.title:hover {
  color: var(--title2);
}

/* Nav bar */

nav {
  display: block;
  margin-left: auto;
  margin-right: 0;
  text-align: center;
  width: 85%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 1em;
  font-family: 'Crimson Pro', serif;
  font-size: 1.5em;
  border: 6px solid var(--border);
  background-color: #f5f5f5;
  -webkit-box-shadow: 10px 10px 0px -2px rgba(44,44,44,0.21);
  -moz-box-shadow: 10px 10px 0px -2px rgba(44,44,44,0.21);
  box-shadow: 10px 10px 0px -2px rgba(44,44,44,0.21);
}

/* Links */

a {
  color: var(--link1);
  text-decoration: underline;
}

a:hover,
a:focus {
  color: var(--link2);
  text-decoration: none;
}

/* Code */

code {
  font-family: monospace;
}

p > code {
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin-right: 0.1em;
  margin-left: 0.1em;
  color: var(--bg1);
  background-color: var(--code);
  font-size: 0.9em;
}

pre {
  box-sizing: border-box;
  white-space: pre;
	width: 100%;
	overflow: auto;
	overflow-y: hidden;
	font-size: 16px;
	line-height: 1.8;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: -10px;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(209,209,209,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(209,209,209,1);
  box-shadow: 10px 10px 0px 0px rgba(209,209,209,1);
}

/* Articles */

article {
  padding: 24px 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Images */

.image, figure img, img {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

.mid-image, figure.mid img, img[src*="mid"] {)
  width: 50%;
  margin: 0 auto;
}

/* Quotes */

blockquote {
  margin-left: 0em;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0.2em 2em;
  position: relative;
  color: var(--fg3);
  background-color: #f4f4f4;
  border-left: 6px solid var(--fg3);
  font-size: 16px;
}

/* Table */

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: var(--fg1);
  background-color: var(--bg1);
}

table th {
  background-color: var(--fg2);
  color: var(--bg2);
}

table th, table td {
  padding: 5px 10px;
  border-bottom: 2px solid var(--fg2);
  border-right: 4px solid var(--bg1);
}

table thead {
  background-color: transparent;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #f0f0f0;
    border: 3px solid #272822;
}

::-webkit-scrollbar-thumb:hover {
    background: #d9d9d9;
    border: 3px solid #272822;
}

/* Text Selection */

::-moz-selection {
  background: var(--seltext);
}

::selection {
  background: var(--seltext);
}
