/* import fonts */
@import url(iosevka.css);
@import url("https://rsms.me/inter/inter.css");

/* Root Vars */
:root {
  --bg0:      #f0f0f0;
  --bg1:      #e7e7e7;
  --bg2:      #d9d9d9;
  --fg1:      #575757;
  --fg2:      #363636;
  --title1:   #e7e7e7;
  --title2:   #d8c2cd;
  --link1:    #538083;
  --link2:    #63979b;
  --code:     #d2d2d2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg0:      #262626;
    --bg1:      #303030;
    --bg2:      #393939;
    --fg1:      #e0e0e0;
    --fg2:      #d6d6d6;
    --title1:   #434343;
    --title2:   #d5bbd3;
    --link1:    #8aabac;
    --link2:    #9ec3c4;
    --code:     #393939;
  }
}

/* Main Things */
html {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg0);
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  max-width: 700px;
  width: 100vw;
  margin: 0 auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 8vw;
  padding-right: 8vw;
  font-family: 'Inter var', 'Inter', sans-serif;
  font-size: 1em;
  line-height: 35px;
  background-color: var(--bg0);
  color: var(--fg1);
}

/* Headers */
header {
  color: var(--title1);
  font-size: 20px;
}

h1 {
  text-align: left;
  font-family: 'Inter var', 'Inter', sans-serif;
  font-size: 32px;
  line-height: 1.3;
  padding: 30px;
  margin-bottom: 45px;
  margin-left: -5px;
  text-rendering: optimizeLegibility;
  color: var(--title1);
  background-color: var(--fg1);
  transition: 0.3s all;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 40px -20px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 40px -20px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 40px -20px rgba(0,0,0,0.75);
}

h2 {
  font-family: 'Inter var', 'Inter', sans-serif;
  font-size: 1.6rem;
  color: var(--fg1);
  line-height: 1.2;
  text-rendering: optimizeLegibility;
}

h3 {
  font-family: 'Inter var', 'Inter', sans-serif;
  font-size: 1.4rem;
  color: var(--fg1);
  line-height: 1.2;
  text-rendering: optimizeLegibility;
}

h4 {
  font-family: 'Inter var', 'Inter', sans-serif;
  font-size: 1.2rem;
  color: var(--fg1);
  line-height: 1.2;
  text-rendering: optimizeLegibility;
}

h2:before {
  color: var(--title2);
  content: "## ";
  margin-left: -45px;
}

h3:before {
  color: var(--title2);
  content: "### ";
  margin-left: -55px;
}

h4:before {
  color: var(--title2);
  content: "#### ";
  margin-left: -62px;
}

/* Post Title */
.postitle {
  color: var(--title1);
  text-decoration: none;
}

.postitle:hover {
  color: var(--title1);
  text-decoration: none;
}

.postitle:before {
  content: "--> ";
}

.postitle:hover:before {
  content: "---> "
}

/* Time Published */
time {
  display: block;
  color: var(--fg1);
  line-height: 2;
  margin-top: 1em;
  margin-bottom: -0.7em;
}

/* Website Title */
.title {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  text-decoration: none;
  text-align: center;
  display: block;
  font-family: 'Iosevka Term Slab Web', monospace;
  font-size: 3em;
  color: var(--fg1);
}

.title:hover {
  color: #898989;
}

.subtitle {
  color: #898989;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Iosevka Term Slab Web', monospace;
  font-stretch: expanded;
  font-size: 1.3em;
}

/* Nav bar */
nav {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-bottom: 1em;
  font-family: 'Iosevka Term Slab Web', monospace;
  font-stretch: expanded;
  font-size: 1.2em;
  border-bottom: 5px solid var(--fg1);
}

/* Links */
a {
  color: var(--link1);
  text-decoration: underline;
}

a:hover,
a:focus {
  color: var(--link2);
  text-decoration: none;
}

/* Code */
code {
  font-family: 'Iosevka Term Slab Web', monospace;
}

p > code {
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-right: 0.1em;
  margin-left: 0.1em;
  margin-top: -0.1em;
  font-size: 0.9em;
  color: var(--fg1);
  background-color: var(--code);
  border-radius: 3px;
}

pre {
  box-sizing: border-box;
  white-space: pre;
	width: 110%;
	overflow: auto;
	overflow-y: hidden;
	font-size: 16px;
	line-height: 1.6;
  padding: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: -5%;
  border: 5px solid #5b5b5b;
  border-radius: 20px;
  overflow-x: auto;
}

/* Articles */
article {
  padding: 24px 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Images */
.image, figure img, img {
  width: 100%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 10px 45px -20px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 10px 45px -20px rgba(0,0,0,0.75);
  box-shadow: 5px 10px 45px -20px rgba(0,0,0,0.75);
}

/* Quotes */
blockquote {
  width: 100%;
  margin-left: -20px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0.2em 2em;
  position: relative;
  color: var(--fg2);
  border-left: 6px solid var(--title2);
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: var(--fg1);
  background-color: var(--bg0);
}

table th {
  background-color: var(--fg1);
  color: var(--bg2);
}

table th, table td {
  padding: 5px 10px;
  border-bottom: 2px solid var(--fg1);
  border-right: 4px solid var(--bg0);
}

table thead {
  background-color: transparent;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #4c4c4c;
}

::-webkit-scrollbar-thumb:hover {
    background: #636363;
}

/* mathjax support */
code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
}
