@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/recursive/v21/8vJN7wMr0mhh-RQChyHEH06TlXhq_gukbYrFMk1QuAIcyEwG_X-dpEfaE5YaERmK-CImKsvxvU-MXGX2fSqasNfUvz2xbXfn1uEQadCCk310tQ1TDA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Recursive';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/recursive/v21/8vJN7wMr0mhh-RQChyHEH06TlXhq_gukbYrFMk1QuAIcyEwG_X-dpEfaE5YaERmK-CImKsvxvU-MXGX2fSqasNfUvz2xbXfn1uEQadCCk317tQ0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ---------  Root Vars ---------- */
:root {
  --bg1:      #f5f5f5;
  --bg2:      #e7e7e7;
  --bg3:      #ececec;
  --fg1:      #535353;
  --fg2:      #494949;
  --fg3:      #363636;
  --title1:   #ac8a8c;
  --title2:   #C49EA0;
  --link1:    #617878;
  --link2:    #7B9899;
  --seltext:  #C7ECF7;
}

@media(prefers-color-scheme:dark) {
  :root {
    --bg1:      #363636;
    --bg2:      #494949;
    --bg3:      #535353;
    --fg1:      #ececec;
    --fg2:      #e7e7e7;
    --fg3:      #f5f5f5;
    --title1:   #C49EA0;
    --title2:   #ac8a8c;
    --link1:    #93a8a8;
    --link2:    #9eb1b1;
    --seltext:  #C7ECF7;
  }
}

/* ---------  Main Things ---------  */

html {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
}

body {
  max-width: 800px;
  width: 100vw;
  margin: 0 auto;
  padding-top: 3ch;
  padding-bottom: 3ch;
  padding-left: 3ch;
  padding-right: 3ch;
  font-family: 'Recursive', sans-serif;
  font-size: 20px;
  line-height: 1.8em;
  background-color: var(--bg1);
  color: var(--fg1);
}

/* ---------  Headers ---------  */

header {
  color: var(--fg1);
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Recursive', sans-serif;
  color: var(--fg2);
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 0px rgba(150, 150, 150, 0.43);
}

/* ---------  Time Published ---------  */

time {
  display: block;
  color: var(--fg2);
  line-height: 2;
  margin-top: -0.5em;
  margin-bottom: 0.5em;
  text-shadow: 1px 1px 0px rgba(150, 150, 150, 0.43);
}

/* ---------  Website Title ---------  */

.title {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  text-align: center;
  display: block;
  padding-top: 40px;
  padding-bottom: 30px;
  border-bottom: 5px solid var(--bg1);
  font-family: 'Recursive', sans-serif;
  font-size: 3em;
  color: var(--title1);
  text-shadow: 1px 1px 0px rgba(150, 150, 150, 0.43);
}

.title:hover {
  color: var(--title2);
}

/* ---------  Nav bar ---------  */

nav {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 75%;
  background-color: var(--bg3);
  color: var(--link1);
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  margin-bottom: 1em;
  font-family: 'Recursive', sans-serif;
  font-size: 1.5em;
  text-shadow: 1px 1px 0px rgba(150, 150, 150, 0.43);
  -webkit-box-shadow: 10px 10px 0px -2px rgba(44,44,44,0.41);
  -moz-box-shadow: 10px 10px 0px -2px rgba(44,44,44,0.41);
  box-shadow: 10px 10px 0px -2px rgba(44,44,44,0.41);
}

/* ---------  Links ---------  */

a {
  color: var(--link1);
  text-decoration: underline;
}

a:hover,
a:focus {
  color: var(--link2);
  text-decoration: none;
}

/* ---------  Code ---------  */

code {
  font-family: monospace;
}

p > code {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.3em;
  color: var(--bg1);
  background-color: var(--fg3);
  font-size: 0.9em;
}

pre {
  box-sizing: border-box;
  white-space: pre;
	width: 100%;
	overflow: auto;
	overflow-y: hidden;
	font-size: 16px;
	line-height: 1.8;
  margin-top: 30px;
  margin-bottom: 40px;
	padding: 28px;
  border: 5px solid #272822;
  -webkit-box-shadow: 10px 10px 0px -2px rgba(44,44,44,0.41);
  -moz-box-shadow: 10px 10px 0px -2px rgba(44,44,44,0.41);
  box-shadow: 10px 10px 0px -2px rgba(44,44,44,0.41);
}

/* ---------- Articles --------- */

article {
  padding: 24px 0;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* ---------  Images ---------  */

.image, figure img, img {
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* ---------  Quotes ---------  */

blockquote {
  margin-left: 0em;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0.2em 2em;
  position: relative;
  color: var(--fg3);
  background-color: var(--bg2);
  border-left: 3px solid var(--fg2);
  font-size: 16px;
  -webkit-box-shadow: 10px 10px 0px -2px rgba(44,44,44,0.41);
  -moz-box-shadow: 10px 10px 0px -2px rgba(44,44,44,0.41);
  box-shadow: 10px 10px 0px -2px rgba(44,44,44,0.41);
}

/* ---------  Table ---------  */

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  color: var(--fg1);
  background-color: var(--bg1);
}

table th {
  background-color: var(--fg2);
  color: var(--bg2);
}

table th, table td {
  padding: 5px 10px;
  border-bottom: 2px solid var(--fg2);
  border-right: 4px solid var(--bg1);
}

table thead {
  background-color: transparent;
}

/* ---------  Scrollbar ---------  */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #dddddd;
}

::-webkit-scrollbar-thumb:hover {
    background: #c2c2c2;
}

/* ---------  Text Selection ---------  */

::-moz-selection {
  background: var(--seltext);
}

::selection {
  background: var(--seltext);
}
